<h3>Talks</h3>
{% for post in site.posts %}
<a href="{{ post.url }}">{{ post.title }}</a>
{% endfor %} 

<h3>Links</h3>
<ul>
  <li><a href="https://twitter.com/devtoledo">@DevToledo</a></li>
  <li><a href="https://twitter.com/openhacktoledo">@OpenHackToledo</a></li>
  <li><a href="https://twitter.com/seedcowork">@SeedCowork</a></li>
</ul>

<h3>Speakers</h3>
<ul>
  <li><a href="http://scottradcliff.com">Scott Radcliff</a></li>
  <li><a href="http://brilliantfantastic.com">Jamie Wright</a></li>
  <li><a href="http://brilliantfantastic.com">Keith Thompson</a></li>
</ul>

<h3>Meeting Times</h3>
<p><strong>Time</strong>:<br> 
6:30pm on the 3rd Thursday of the month.</p>
<p><strong>Location</strong>:<br>
  <a href="https://www.seedcoworking.com/">Seed Coworking</a>
  25 S St. Clair St.<br>
  Toledo Ohio, 43604<br>
  <a href="https://maps.google.com/maps?q=25+South+St.+Clair,+Toledo,+OH&hl=en&ll=41.647374,-83.538473&spn=0.00853,0.03386&sll=37.0625,-95.677068&sspn=36.999937,138.691406&hnear=25+S+St+Clair+St,+Toledo,+Ohio+43604&t=m&z=16&iwloc=A">Map</a>
  </p>
