<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Agnostic Developer User Group in Toledo Ohio" />
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/theme.css">
    <title>DevToledo</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <h1>DevToledo</h1>
        <div class="span4 post-links">
          {% include sidebar.html %}
        </div>

        <div class="span7">
          {% assign first_post = site.posts.first %}
          <h1>{{first_post.title}}</h1>
          <p>Added on: {{ first_post.date | date: "%A, %b %d, %Y") }}</p>
          {{ first_post.content }}
        </div>
      </div>

      {% include footer.html %}
  </body>
</html>
