<!DOCTYPE html>
<html>

   <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Devtoledo.github.com : " />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/theme.css">
    <title>DevToledo</title>
  </head>

 <body>
    <div class="container">
      <div class="row">
        <h1>DevToledo</h1>
        <div class="span4 post-links">
          {% include sidebar.html %}
        </div>

        <div class="span7">
          <h1>{{page.title}}</h1>
          <p>Added on: {{ page.date | date: "%A, %b %d, %Y") }}</p>
          {{ content }}
        </div>
      </div>
  </body>
</html>

